     /* these are messages from the bot  */
.bpw-layout.bpw-chat-container.bpw-anim-fadeIn {
    width: 100%;
}
element.style {
     width: 0px; 
}
.bpw-layout {
    -webkit-box-orient: vertical;
    border: 1px solid #ccc;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: absolute;
}
.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content{
     border-radius: 0% 8px 8px 8px;
    background-color:#e6e6e6;
    margin-bottom:10px;
    max-width:70.299vh;
    padding-bottom:10px;
    color:black;
}
    /* these are messages from the user  */
.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
     border-radius:8px 0% 8px 8px;
    background-color:#b3d9ff;
     margin-bottom:10px;
    max-width:70.299vh;
     padding-bottom:10px;
    color:black;
}

.bpw-header-container {
    background: #f8f9fa;
    border-radius: 2px;
    padding: 0.66rem;
    height:3.125rem;
}
* Styles for the send button when it is disabled */
.bpw-send-button:disabled,
.bpw-send-button:disabled:hover {
    /* Sets the opacity to 0.4 to make the button appear slightly transparent */
    opacity: 0.4;
    /* Sets the background color to a variable named "--theme-primary" */
    background-color:#F0F8FF;
    /* Changes the cursor to the default cursor */
    cursor: default;
}

/* Styles for the container holding the send buttons */
.bpw-send-buttons {
    /* Sets the display mode to flex and the direction to horizontal */
    display: flex;
    flex-direction: row;
    /* Aligns the items to the center */
    align-items: center;
}
/* This is the CSS style for the button that sends a message */

.bpw-send-button {
    display: flex; /* Set the button to be arranged using flexible layout */
    justify-content: center; /* Center the button's content horizontally */
    align-items: center; /* Center the button's content vertically */
    background-color: #1a8cff; /* Give the button a primary color background */
    padding: 20px; /* Add some extra space around the button's content */
    width: 24px; /* Set the button's width to be 24 pixels */
  
    height: 24px; /* Set the button's height to be 24 pixels */
    color: black; /* Hide any text that might appear inside the button */
    cursor: pointer; /* Show the pointer cursor when the button is hovered over *
    transition: background-color 0.2s; /* Make the button's background color change smoothly over a short period of time */
}

/* This is the CSS style for the button that sends a message when it's not disabled and is being hovered over */

.bpw-send-button:not(:disabled):hover {
    background-color: #b3d9ff; /* Change the button's background color to a different color when it's being hovered over */
}
bpw-composer {
    background: hsla(0,0%,100%,.9);
    border-top: 1px solid #aaa;
    outline: none;
    padding: .5rem 0;
    position: relative;
    transition: border .3s ease;
    height: 3.75rem;
}
